@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: repeat(24,auto);
    grid-template-columns: repeat(24, 1fr);
    width: 100%;
    min-height: 100%;
}

.background-gradient {
    position: fixed; /* Fixes the video in place */
    top: 0;
    left: 0;
    width: 100vw; /* Ensures the video spans the full viewport width */
    height: 100vh; /* Ensures the video spans the full viewport height */
    object-fit: cover; /* Ensures the video covers the entire viewport without distortion */
    z-index: -2; /* Keeps the video behind other elements */
}

header, .socials {
    grid-column: 1 / 25;
    display: flex;
}


header {
    grid-row: 1 / 3;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Center content horizontally */
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 2.3em;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
}

/*
.inner-header {
    height: 100%;
    width: 90%;
}*/

header div.logo, header div.menu {
    display: flex; /* Ensures items inside these divs are aligned properly */
    align-items: center;
}

header div.logo {
    margin-left: clamp(0em, 5vw, 3em); /* Margin decreases as viewport width decreases */; /* Add space to the right of the menu */
}

header div.menu {
    margin-right: clamp(0em, 5vw, 3em); /* Margin decreases as viewport width decreases */ /* Add space to the right of the menu */
}

.logo2 {
    width: auto; /* Ensure it scales naturally */
    max-height: 60px; /* Limit height for better layout */
}

.menu {
    position: relative; /* Allows positioning of dropdown relative to menu */
    color: #959595;
    cursor: pointer;
}

.menu .dropdown {
    opacity: 0; /* Hidden by default */
    visibility: hidden;
    justify-content: left;
    position: absolute;
    top: 2em;
    right: 0;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    width: 10em;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: opacity 0.1s ease-in-out, visibility 0s 0.1s;
}

.menu .dropdown.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s ease-in-out, visibility 0s;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
    transition: opacity 0.1s ease-in-out, visibility 0s 0.1s;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s ease-in-out, visibility 0s;
}

.menu .dropdown li {
    padding: 20px;
    text-align: left; /* Ensure text stays aligned left */
}

.menu .dropdown li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #adcaff;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth color change */
}

.menu .dropdown li a:hover {
    color: #008cff; /* Change text color on hover */
    transform: translate(1em, 0em) scale(1.05); /* Slightly enlarge text for emphasis */
}

.menu p {
    font-weight: normal;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

.menu p::before {
    content: '';
    display: block;
    width: 45px;
    height: 3px;
    background-color: #959595;
    position: relative;
    top: -8px;
    transform-origin: center;
    transition: transform 0.1s ease-in-out;
}

.menu p::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: #959595;
    position: relative;
    top: 8px;
    left: 15px;
    transform-origin: center;
    transition: 0.1s ease-in-out;
}

.menu p.transform::before {
    transform: translate(0px, 10px) rotate(45deg);
}


.menu p.transform::after {
    width: 45px;
    transform: translate(-15px, -9px) rotate(-45deg);
}

.main-content {
    margin-top: 2.3em;
    display: grid;
    grid-column: 1 / 25;
}

.info-tab {
    /*background-image: url('BG1.png'); /* Replace with your actual image path */
    position: relative;
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    grid-row: 3 / 11;
    padding-top: 2.3em;
    padding-bottom: 2.3em;
    color: #e7ffbb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    flex-shrink: 1;
}

.element1 {
    background-image: url('images/element1.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    flex-shrink: 1;
}

.element2 {
    background-image: url('images/element1.png'); /* Assuming it's meant to have a different image, update if needed */
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(-1, -1); /* Flip both horizontally and vertically */
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    flex-shrink: 1;
}

.tab-bg-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-top: 12vh;
    padding-bottom: 12vh;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 0.3em;
    margin-right: 0.3em;
    max-width: 35em;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px); /* Adjust blur intensity as needed */
    -webkit-backdrop-filter: blur(20px); /* Support for WebKit browsers */
    position: relative; /* To position the noise pseudo-element */
}

.tab-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-bottom: 2em;
    padding-top: 2em;
    max-width: 35em;

    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px); /* Adjust blur intensity as needed */
    -webkit-backdrop-filter: blur(20px); /* Support for WebKit browsers */
}

.info-tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    gap: 4vw;
    flex-shrink: 1;
}

.info-text {
    display: flex;
    flex-direction: column;
    max-width: 40%; /* Adjust as needed for responsive layout */
    min-width: 30%;
    flex-shrink: 1;
}

.Hello {
    background: linear-gradient(311deg,#5e9fed,#a7f0de,#f0f7d0,#477df1);
    background-size: 240% 240%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 4s ease infinite;
    font-size: clamp(2rem, 5vw, 3rem); /* Adjust min, preferred, and max sizes */
    flex-shrink: 1;
}

@keyframes gradient-animation {
    0% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 80%;
    }
    100% {
        background-position: 50% 50%;
    }
}

.info-subtext {
    color: white;
    font-size: clamp(1rem, 3vw, 1.5rem); /* Adjust min, preferred, and max sizes */
    padding-bottom: 0.5em;
    font-weight: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    flex-shrink: 1;
}

.info-subtext em {
    font-style: normal;
    background: linear-gradient(311deg,#5e9fed,#a7f0de,#f0f7d0,#477df1);
    background-size: 240% 240%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 4s ease infinite;
}

.info-sub-subtext {
    max-width: 100%;
    color: white;
    font-size: clamp(1rem, 3vw, 1.5rem); /* Adjust min, preferred, and max sizes */
    font-weight: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    flex-shrink: 1;
}

em {
    color: white;
}


/*
.pfp-container {
    position: relative;
    max-width: 70%;
    min-width: 10%;
    flex-shrink: 1;
}

.pfp-container::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 60%;
    border: 4px solid white;
    border-radius: 0;
    top: 220px;
    left: 220px;
    z-index: 1;
    flex-shrink: 1;
    overflow: hidden;
}
 */

.pfp {
    max-width: 30%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    flex-shrink: 1;
    border: 8px solid white;
}







.projects-tab {
    padding-top: 150px;
    background-color: #292929;
    grid-row: 11 / 17;
    color: #e7ffbb;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-tab h2{
    padding-bottom: 2em;
}

.projects-container {

    margin-left: 0.3em;
    margin-right: 0.3em;
    grid-row: 11 / 17;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-bottom: 150px;
}

.project {
    flex: 1 1 calc(33.333% - 40px);
    max-width: 8.5em;
    min-width: 5em;
    height: 13em;
    margin-bottom: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;

    background-color: #171717;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out, color 0.2s ease-out, transform 0.2s ease-out;
}

.project:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8); /* Enhanced shadow for a more noticeable effect */
    background-color: white; /* Smooth background color transition */
    transform: scale(1.05);
}

.project:hover .project-header {
    color: #3079ff;
}

.project:hover .project-desc {
    color: #000000;
}

.thumbnail {
    width: 100%;
    border-radius: 20px;
}

.project-header {
    font-size: 2rem;
    color: #c3c3c3;
}

.project-desc {
    font-size: 1.3rem;
    font-weight: normal;
}


@media screen and (max-width: 768px) {
    header {
        height: 1.5em;
    }

    .logo2 {
        width: 70%;
    }

    .menu p::before, .menu p::after {
        height: 3px;
    }

    .menu .dropdown {
        top: 1.5em;
        width: 6em;
    }


    .main-content {
        margin-top: 1.5em;
    }

    .info-tab {
        flex-direction: column;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }

    .info-tab-container {
        flex-direction: column;
        gap: 0.5em;
    }

    .tab-bg {
        padding-bottom: 2vh;
        padding-top: 2vh;
        max-width: 10em;
    }

    .Hello {
        font-size: 2rem;
    }

    .info-text {
        max-width: 80%;
        align-items: center;
    }

    .pfp {
        max-width: 60%;
    }

    .projects-tab {
        padding-top: 50px;
    }

    .projects-tab h2{
        font-size: 2rem;
        padding-bottom: 50px;
    }

    .projects-container {
        flex-direction: row;
        gap: 0.2em;
        padding-bottom: 20px;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    .project {
        max-width: 5.5em;
        min-width: 3.5em;
        height: 10em;
    }

    .thumbnail {
        max-width: 100%;
    }

    .project-header {
        font-size: 1.4rem;
    }


    .form-row1 {
        flex-direction: column;
    }

    .message-panel {
        display: flex;
        align-items: center;
    }

    .form-control {
        width: 80%;
    }

    .btn-submit-message {
        width: 80%;
    }
}